/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5c5083;
  --ifm-color-primary-dark: #524876;
  --ifm-color-primary-darker: #4d436e;
  --ifm-color-primary-darkest: #3d3657;
  --ifm-color-primary-light: #665890;
  --ifm-color-primary-lighter: #6c5d97;
  --ifm-color-primary-lightest: #7f6aa9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8c7ab3;
  --ifm-color-primary-dark: #7d6da2;
  --ifm-color-primary-darker: #736497;
  --ifm-color-primary-darkest: #5e527d;
  --ifm-color-primary-light: #9b8cc4;
  --ifm-color-primary-lighter: #a59acb;
  --ifm-color-primary-lightest: #c0b6dc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
